.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-slide {
    position: relative;
    height: 90vh;
    &-content {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
    
        h4 {
            font-family: 'Playball', cursive;
            font-size: 20pt;
            color: #fff;
        }
        h1 {
            font-family: 'Prata', serif;
            font-size: 5rem;
            color: #fff;
            span {
                margin-left: 8px;
                color: #fed544;
            }
        }
    }
}
.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  background: #464646;
  color: #fdfdfd;
  text-align: center;
  margin: 1em auto;
  text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
}
