{% extends 'layouts/default.html' %}

{% block title %}Guide{% endblock %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Thanh toán</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newpost" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <article class="col-lg-9 col-md-8 newpost-article">
                        <div class="row">
                            <div class="col-12 py-3 ">
                                <h1 class="title-post">Ùn tắc cửa ngõ Sài Gòn, trẻ em ôm gấu bông ngủ gục trong đêm</h1>
                            </div>
                            <div class="col-12 post-date text-secondary">
                                <p class="la-text-normal">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                    <span>09-04-2019 09:54:13</span>
                                </p>
                            </div>
                            <div class="col-12 post-title-small">
                                <h2>Nhiều em nhỏ đi cùng người lớn trở lại TP.HCM sau dịp nghỉ lễ dài ngày không tránh
                                    khỏi mệt mỏi khi phải chờ đợi cả
                                    tiếng đồng hồ để lên phà Cát Lái, chiều tối 1/5.
                                </h2>
                                <div class="text-center py-3">
                                    <img src="https://znews-photo.zadn.vn/w1024/Uploaded/ayhunwx/2019_05_02/ket_xe_Cat_lai_zing_13.jpg"
                                        alt="">
                                </div>
                                <p>Anh Nguyễn Trọng Tường (Đồng Nai) cho biết: “Ngày lễ tắc đường nhưng bà muốn cháu ở
                                    lại chơi lâu lâu nên 18h tôi mới đưa
                                    con (bé Nguyễn Trọng Anh Tuấn) đi Sài Gòn. Bình thường tôi chỉ đi mất 1 tiếng, hôm
                                    nay là 1 tiếng rưỡi rồi”.</p>
                                <div class="text-center py-3">
                                    <img src="https://znews-photo.zadn.vn/w1024/Uploaded/ayhunwx/2019_05_02/ket_xe_Cat_lai_zing_14.jpg"
                                        alt="">
                                </div>
                                <p>
                                    "Sang năm chắc tôi rút kinh nghiệm đi từ sáng sớm hoặc lên trước một ngày cho mấy
                                    đứa nhỏ đỡ cực. Đi như thế này người
                                    lớn còn cảm thấy mệt mỏi nữa là tụi nhỏ", anh Hoàng Thái chia sẻ.
                                </p>
                            </div>
                            <div class="col-12 py-3 text-right">
                                <small>Nguồn: Zing.vn</small>
                            </div>
                        </div>
                    </article>
                    <div class="col-lg-3 col-md-4 mb-3 mb-md-0">
                        <div class="card-guide">
                            <div class="card-guide-top">
                                <h5 class="m-0 text-uppercase">Chính sách onlyvietnam</h5>
                                <hr>
                            </div>
                            <div class="card-guide-content pb-3">
                                <ul class="nolist">
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}