{% extends 'layouts/default.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% from 'mixin/navbar.html' import navbar %}
{% from "components/itemproduct.html" import product %}
{{ navbar('index') }}
<section id="slider" class="bg-light d-none d-md-block">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-9">
                <div class="swiper-container swiper-main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://media3.scdn.vn/img3/2019/5_4/tNwAVX.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://media3.scdn.vn/img3/2019/6_5/6MCTLJ.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pair-banner bg-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1pXNxw7omBKNjSZFqXXXtqVXa.png" alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Mua Nhiều Nhất</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1ZbXxw7omBKNjSZFqXXXtqVXa.png" alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Xem Nhiều Nhất</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="https://cdn4.vectorstock.com/i/1000x1000/38/93/seal-icon-with-big-sale-text-vector-18823893.jpg"
                            alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Đồ Giảm Giá</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="https://cdn1.iconfinder.com/data/icons/graph-1/100/07-512.png" alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Đồ Rẻ Nhất</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="recenly-product" class="py-3">
    <div class="container">
        <h4 class="text-uppercase py-3 mb-0">Siêu Khuyến Mãi</h4>
        <div class="sale-list">
            <div class="swiper-container swiper-sale p-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://vn-test-11.slatic.net/p/80dd0d5e9944d9cae626e2d2c7950978.jpg_200x200q80.jpg_.webp"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://vn-test-11.slatic.net/p/80dd0d5e9944d9cae626e2d2c7950978.jpg_200x200q80.jpg_.webp"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV Apro 050

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-next"></div>
                <div class="swiper-prev"></div>
            </div>
        </div>
    </div>
</section>
<section id="product" class="py-3">
    <div class="container">
        <h4 class="text-uppercase py-3 mb-0">Sản Phẩm Mới Nhất</h4>
        <div class="product-list">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container">
        <div class="title-cate w-100 pb-3">
            <h4 class="m-0 text-uppercase">Danh mục gợi ý</h4>
            <hr>
        </div>
        <div class="d-flex">
            <div class="swiper-container swiper-cate w-100 h-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cate">
                            <div class="cate-img">
                                <a href="#">
                                    <img src="https://image.voso.vn/users/vosoimage/images/3c02a8675ef9e80b345bd8b46a62b3c7?t%5B0%5D=compress%3Alevel%3D100&accessToken=662b6b537833b847e87e9ab903112b1a854155453b366ad78cf3e6e5e98c63a1"
                                        alt="">
                                </a>
                            </div>
                            <div class="cate-content">
                                <a href="#">
                                    Thiết bị điện tử
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cate">
                            <div class="cate-img">
                                <a href="#">
                                    <img src="https://image.voso.vn/users/vosoimage/images/60ba94b8f20671667af837298ecdafa2?t%5B0%5D=compress%3Alevel%3D100&accessToken=8ad73871fd843c45bf93c5085dd949c562de946d6266b715e969bbc9bb5b3988"
                                        alt="">
                                </a>
                            </div>
                            <div class="cate-content">
                                <a href="#">
                                    Điện gia dụng
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cate">
                            <div class="cate-img">
                                <a href="#">
                                    <img src="https://image.voso.vn/users/vosoimage/images/da544b184aa44e191c34e98e5d82ee7b?t%5B0%5D=compress%3Alevel%3D100&accessToken=7c61ea5f6605c16ad6e02f869fb14b09a44537bb639daf90ad24b33af1851e94"
                                        alt="">
                                </a>
                            </div>
                            <div class="cate-content">
                                <a href="#">
                                    Làm Đẹp
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cate">
                            <div class="cate-img">
                                <a href="#">
                                    <img src="https://image.voso.vn/users/vosoimage/images/0c4d505640cc8c48f4a1b595fdb91380?t%5B0%5D=compress%3Alevel%3D100&accessToken=8a00cdc1ff11d1cae9fa4983b8898d64d4044bffbf863af05a5330a8bf482745"
                                        alt="">
                                </a>
                            </div>
                            <div class="cate-content">
                                <a href="#">
                                    Bách hóa
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cate">
                            <div class="cate-img">
                                <a href="#">
                                    <img src="https://image.voso.vn/users/vosoimage/images/c17fd41234f26c38cbd1fbb8d06ffe60?t%5B0%5D=compress%3Alevel%3D100&accessToken=e3663ca9143d2b9da6fb0af34c70057b4444da4f21ae0959fa5fd6992baaf933"
                                        alt="">
                                </a>
                            </div>
                            <div class="cate-content">
                                <a href="#">
                                    Thời trang nam
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cate">
                            <div class="cate-img">
                                <a href="#">
                                    <img src="https://image.voso.vn/users/vosoimage/images/051d24c2aaf63d29fc99ae07f555fc7b?t%5B0%5D=compress%3Alevel%3D100&accessToken=4d8aaef1f83f5cdddbfebc235aaa052a29ee60f277c5b083d5739e27e06920c5"
                                        alt="">
                                </a>
                            </div>
                            <div class="cate-content">
                                <a href="#">
                                    Thời trang nữ
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cate">
                            <div class="cate-img">
                                <a href="#">
                                    <img src="https://image.voso.vn/users/vosoimage/images/aac5e218697fcb8f56ac3c44223afa3d?t%5B0%5D=compress%3Alevel%3D100&accessToken=0b6f6358d367e769e943c1db39a3de4138020f9da43b882fb07392ef63f41853"
                                        alt="">
                                </a>
                            </div>
                            <div class="cate-content">
                                <a href="#">
                                    Đặc sản
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section> -->
<section id="news" class="py-3">
    <div class="container">
        <h4 class="text-uppercase py-3 mb-0">Tin Tức Mới Nhất</h4>
        <div class="news-list">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="swiper-container swiper-news-thumb gallery-top-new">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        <span>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên người dân ở đây vô cùng hoang mang</span>
                                        
                                    </div>
                                    <div class="top-content">
                                        <p>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        <span>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên người dân ở đây vô cùng hoang
                                            mang</span>
                                    
                                    </div>
                                    <div class="top-content">
                                        <p>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        <span>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên người dân ở đây vô cùng hoang
                                            mang</span>
                                    
                                    </div>
                                    <div class="top-content">
                                        <p>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        <span>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên người dân ở đây vô cùng hoang
                                            mang</span>
                                    
                                    </div>
                                    <div class="top-content">
                                        <p>Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="swiper-container gallery-thumbs-new">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-footer py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <a href="#" class="banner-footer-link">
                    <img src="https://image.voso.vn/users/vosoimage/images/20379b491f2e0f8fbe9d6668ae99bd8b?t%5B0%5D=thumbnail%3Awidth%3D800%2Cheight%3D208%2Cfit%3Dinset&t%5B1%5D=compress%3Alevel%3D100&accessToken=aaaa5a6d2a9237eb1ef3e9d4615081515f8f24e9b1ef4ac07ab2802f57f4574b"
                        alt="">
                </a>
            </div>
            <div class="col-md-6" >
                <a href="#" class="banner-footer-link">
                    <img src="https://image.voso.vn/users/vosoimage/images/32ec02c2ba3dc6f03b712c73762da54a?t%5B0%5D=thumbnail%3Awidth%3D800%2Cheight%3D208%2Cfit%3Dinset&t%5B1%5D=compress%3Alevel%3D100&accessToken=e3a4a6075a6ab184ed2726a596ba8871184534bf7c668c05424ef43f75022f38"
                        alt="">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}