{% extends 'layouts/default.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% from 'mixin/navbar.html' import navbar %}
{% from "components/itemproduct.html" import product %}
{{ navbar('index') }}
<section id="slider" class="bg-light d-none d-md-block">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-9">
                <div class="swiper-container swiper-main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://media3.scdn.vn/img3/2019/5_4/tNwAVX.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://media3.scdn.vn/img3/2019/6_5/6MCTLJ.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pair-banner bg-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1pXNxw7omBKNjSZFqXXXtqVXa.png" alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Mua Nhiều Nhất</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1ZbXxw7omBKNjSZFqXXXtqVXa.png" alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Xem Nhiều Nhất</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="https://cdn4.vectorstock.com/i/1000x1000/38/93/seal-icon-with-big-sale-text-vector-18823893.jpg"
                            alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Đồ Giảm Giá</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-3 mb-3 mb-md-0">
                <a href="#" class="gift-card">
                    <div class="card-channels-icon">
                        <img src="https://cdn1.iconfinder.com/data/icons/graph-1/100/07-512.png" alt="">
                    </div>
                    <div class="card-channels-text d-none d-md-block">
                        <span>Đồ Rẻ Nhất</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="recenly-product" class="py-3">
    <div class="container">
        <h4 class="text-uppercase py-3 mb-0">Siêu Khuyến Mãi</h4>
        <div class="sale-list">
            <div class="swiper-container swiper-sale p-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide ">
                        <a href="#" class="sale-products">
                            <div class="sale-products-left">
                                <img src="https://media3.scdn.vn/img3/2019/4_6/HD6YQl_simg_de2fe0_500x500_maxb.jpg"
                                    alt="">
                            </div>
                            <div class="sale-products-right">
                                <div class="sale-title">
                                    Kính mát chống tia UV

                                </div>
                                <div class="sale-oldprice">
                                    <s>200.000đ</s>
                                </div>
                                <div class="sale-price text-danger font-weight-bold">
                                    <span>100.000đ</span>
                                    <span class="btn-sm btn-danger percen">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-next"></div>
                <div class="swiper-prev"></div>
            </div>
        </div>
    </div>
</section>
<section id="product" class="py-3">
    <div class="container">
        <h4 class="text-uppercase py-3 mb-0">Sản Phẩm Mới Nhất</h4>
        <div class="product-list">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
                <div class="col-lg-3 col-md-4 col-6 product-list--item">
                    {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pair-banner py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 mb-3 mb-md-0">
                <a href="#" class="gift-banner">
                    <img src="https://salt.tikicdn.com/ts/banner/7f/16/77/74c956f139391e36752b7544f8a0bc92.png" alt="">
                </a>
            </div>
            <div class="col-md-3 col-6 mb-3 mb-md-0">
                <a href="#" class="gift-banner">
                    <img src="https://salt.tikicdn.com/ts/banner/d3/b1/3e/7cc52fa7aaa4d30a92889dae45d44623.png" alt="">
                </a>
            </div>
            <div class="col-md-3 col-6 mb-3 mb-md-0">
                <a href="#" class="gift-banner">
                    <img src="https://salt.tikicdn.com/ts/banner/b7/02/38/116c2bf4940cfbb332df6ebcf4f33a98.png" alt="">
                </a>
            </div>
            <div class="col-md-3 col-6 mb-3 mb-md-0">
                <a href="#" class="gift-banner">
                    <img src="https://salt.tikicdn.com/ts/banner/b9/6e/7e/5e31590b55f2025ef4df8eefdb958a73.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<section id="news" class="py-3">
    <div class="container">
        <h4 class="text-uppercase py-3 mb-0">Tin Tức Mới Nhất</h4>
        <div class="news-list">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0es">
                    <div class="swiper-container swiper-news-thumb gallery-top-new">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-news d-block text-dark">
                                    <div class="top-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="top-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="swiper-container gallery-thumbs-new">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="card-thumb-news text-dark">
                                    <div class="thumb-img">
                                        <img src="https://znews-photo.zadn.vn/w960/Uploaded/ayhunwx/2019_05_15/phu_my_hung_z_16_thumb.jpg" alt="">
                                    </div>
                                    <div class="thumb-title">
                                        Sở hữu chung cư xịn ở Phú Mỹ Hưng, sống chung với kẹt xe triền miên cho nên
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}