{% extends 'layouts/default.html' %}

{% block title %}List-Guide{% endblock %}

{% block content %}
<section id="newpost" class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <div class="box-title-guide mb-3">
                            <span>Danh Sách Tin Tức Chuyên Mục Onlyvietnam</span>
                        </div>
                        <ul class="nolist news-content-list bg-white">
                            <li class="row align-items-center py-3 ">
                                <div class="col-lg-9 col-md-12 offset-lg-3 col-12">
                                    <div class="guide-title">
                                        <a href="#">Hướng dẫn thanh toán trên onlyvietnam</a>
                                    </div>
                                    <div class="guide-date text-secondary">
                                        <p class="la-text-normal mb-1">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>
                                            <span>09-04-2019 09:54:13</span>
                                        </p>
                                    </div>
                                    <div class="guide-content">
                                        <p >Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-lg-9 col-md-12 offset-lg-3 col-12">
                                    <div class="guide-title">
                                        <a href="#">Hướng dẫn thanh toán trên onlyvietnam</a>
                                    </div>
                                    <div class="guide-date text-secondary">
                                        <p class="la-text-normal mb-1">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>
                                            <span>09-04-2019 09:54:13</span>
                                        </p>
                                    </div>
                                    <div class="guide-content">
                                        <p >Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-lg-9 col-md-12 offset-lg-3 col-12">
                                    <div class="guide-title">
                                        <a href="#">Hướng dẫn thanh toán trên onlyvietnam</a>
                                    </div>
                                    <div class="guide-date text-secondary">
                                        <p class="la-text-normal mb-1">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>
                                            <span>09-04-2019 09:54:13</span>
                                        </p>
                                    </div>
                                    <div class="guide-content">
                                        <p >Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-md-12 py-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 mb-3 mb-md-0">
                        <div class="card-guide">
                            <div class="card-guide-top">
                                <h5 class="m-0 text-uppercase">Chính sách onlyvietnam</h5>
                                <hr>
                            </div>
                            <div class="card-guide-content pb-3">
                                <ul class="nolist">
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}