{% extends 'layouts/default.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% from 'mixin/navbarlocal.html' import navbar %}
{{ navbar('index') }}
<section id="login" class="py-lg-5 py-3">
    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3  p-3 box-login paper">
                    <div class="text-center">
                        <h1><i class="fa fa-lock" aria-hidden="true"></i> Đăng Nhập</h1>
                    </div>
                    <div class="input-group py-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i style="font-size: 17pt;" class="fa fa-user"
                                    aria-hidden="true"></i></span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="Nhập email" />
                    </div>

                    <div class="input-group py-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key icon"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu" />
                    </div>
                    <div class="py-3 text-center">
                        <button type="submit" class="btn btn-info"><span
                                class="glyphicon glyphicon-off"></span>Đăng nhập</button>
                    </div>
                    <div class="footer py-3 text-center">
                        <p>Không có tài khoản <a href="#">Đăng ký ngay</a>
                        </p>
                        <p>Quên mật khẩu? <a href="#">Tìm Lại</a></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<style>
    @media screen and (max-width: 575px) {
        #login {
            height: auto !important;
        }

        .paper {
            align-items: center;
            margin: 2rem 0rem;
        }
    }

    @media screen and (max-width: 769px) {
        #login {
            height: 80vh;
        }

        .paper {
            align-items: center;
            margin-top: 2rem;
        }
    }

    @media screen and (max-width: 1025px) {
        #login {
            height: 80vh;
        }

        .paper {
            align-items: center;
            margin-top: 2rem;
        }
    }

    .paper {
        background: #fff;
        position: relative;
    }

    .paper,
    .paper::before,
    .paper::after {
        border: 1px solid #bbb;
    }

    .paper::before,
    .paper::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 99%;
        background-color: #eee;
    }

    .paper::before {
        right: 14px;
        top: -4px;
        transform: rotate(-5deg);
        z-index: -1;
    }

    .paper::after {
        top: 8px;
        right: -8px;
        transform: rotate(8deg);
        z-index: -2;
    }

    @media screen and (max-width: 575px) {

        .paper::before,
        .paper::after {
            display: none;
        }
    }
</style>

{% endblock %}