{% extends 'layouts/default.html' %}

{% block title %}News{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Tin Tức</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h1 class="header-title text-md-left text-uppercase">Tin tức mới</h1>
                <hr>
            </div>
            <div class="col-12 news-content">
                <div class="row">
                    <div class="col-md-9">
                        <ul class="nolist news-content-list">
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img  src="{{img('ocung.jpg')}}" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">Ùn tắc cửa ngõ Sài Gòn, trẻ em ôm gấu bông ngủ gục trong đêm</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img  src="{{img('ocung.jpg')}}" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">Ùn tắc cửa ngõ Sài Gòn, trẻ em ôm gấu bông ngủ gục trong đêm</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img  src="{{img('ocung.jpg')}}" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">Ùn tắc cửa ngõ Sài Gòn, trẻ em ôm gấu bông ngủ gục trong đêm</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img  src="{{img('ocung.jpg')}}" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">Ùn tắc cửa ngõ Sài Gòn, trẻ em ôm gấu bông ngủ gục trong đêm</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img  src="{{img('ocung.jpg')}}" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">Ùn tắc cửa ngõ Sài Gòn, trẻ em ôm gấu bông ngủ gục trong đêm</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img  src="{{img('ocung.jpg')}}" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">Sự thay đổi gu thời trang của phụ nữ trong năm 2019</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Xã hội tiến bộ, phụ nữ cũng có cái nhìn về thời trang hiện đại khác hơn trước.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-md-12 py-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-block text-center">
                            <h4>Sản Phẩm Mới Nhất</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="card border-0 mb-3 card-hover-primary ">
                                    <div class="card-top border">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2" src="{{img('maychuphinh.jpg')}}" alt="">
                                        </a>
                                        <a href="#" class="btn-sm btn-default rounded-0 product-sale d-inline-block">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            Đặt hàng
                                        </a>
                                    </div>
                                    <div class="card-body text-center">
                                        <a href="#" class="text-uppercase normal-product_name">Máy chụp hình</a>
                                        <div class="d-block mb-2 font-weight-bold">
                                            <span>1.250.000</span>
                                            <span>VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border-0 mb-3 card-hover-primary ">
                                    <div class="card-top border">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2" src="{{img('maychuphinh.jpg')}}" alt="">
                                        </a>
                                        <a href="#" class="btn-sm btn-default rounded-0 product-sale d-inline-block">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            Đặt hàng
                                        </a>
                                    </div>
                                    <div class="card-body text-center">
                                        <a href="#" class="text-uppercase normal-product_name">Máy chụp hình</a>
                                        <div class="d-block mb-2 font-weight-bold">
                                            <span>1.250.000</span>
                                            <span>VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border-0 mb-3 card-hover-primary ">
                                    <div class="card-top border">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2" src="{{img('maychuphinh.jpg')}}" alt="">
                                        </a>
                                        <a href="#" class="btn-sm btn-default rounded-0 product-sale d-inline-block">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            Đặt hàng
                                        </a>
                                    </div>
                                    <div class="card-body text-center">
                                        <a href="#" class="text-uppercase normal-product_name">Máy chụp hình</a>
                                        <div class="d-block mb-2 font-weight-bold">
                                            <span>1.250.000</span>
                                            <span>VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}