{% extends 'layouts/default.html' %}

{% block title %}Registe{% endblock %}

{% block content %}
{% from 'mixin/navbarlocal.html' import navbar %}
{{ navbar('index') }}
<section class="py-lg-5 py-3">
    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-md-8 offset-md-2  p-3 box-login paper">
                    <div class="text-center">
                        <h1><i class="fa fa-registered" aria-hidden="true"></i></i> Đăng Ký Người Bán Hàng</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 my-2">
                            <div class="text-left">
                                <span class="form-title">Loại hình:</span>
                            </div>
                            <div class="col-lg-12 p-0">
                                <div class="form-check-inline my-2">
                                    <div class="user-type-item mr-2">
                                        <input class="personal" name="user" id="user_personal" type="radio" checked>
                                        Cá Nhân
                                    </div>
                                    <div class="user-type-item">
                                        <input class="company" name="user" id="user_company" type="radio">
                                        Công ty
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user_personal col-lg-12 hidden">
                            <div class="row">
                                <div class="col-lg-12 my-2">
                                    <div class="text-left">
                                        <span class="form-title">Tên gian hàng:</span>
                                    </div>
                                    <div class="col-lg-12 p-0">
                                        <input class="form-control" name="email" type="email" autocomplete="off"
                                            placeholder="Nhập tên gian hàng" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 my-2">
                                    <div class="text-left">
                                        <span class="form-title">Mã số thuế:</span>
                                    </div>
                                    <div class="col-lg-12 p-0">
                                        <input class="form-control" name="email" type="email" autocomplete="off"
                                            placeholder="Nhập mã số thuế" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="text-left">
                                <span class="form-title">Địa chỉ kho:</span>
                            </div>
                            <div class="col-lg-12 p-0">
                                <input class="form-control" name="email" type="email" autocomplete="off" placeholder="Nhập địa chỉ kho"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="text-left">
                                <span class="form-title">Địa chỉ email:</span>
                            </div>
                            <div class="col-lg-12 p-0">
                                <input class="form-control" name="email" type="email" autocomplete="off"
                                    placeholder="Nhập địa chỉ email" required>
                            </div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <div class="text-left">
                                <span class="form-title">Mật khẩu:</span>
                            </div>
                            <div class="col-lg-12 p-0">
                                <input class="form-control" name="password" type="password" autocomplete="off"
                                    placeholder="nhập mật khẩu...">
                            </div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <div class="text-left">
                                <span class="form-title">Nhập Lại Mật khẩu:</span>
                            </div>
                            <div class="col-lg-12 p-0">
                                <input class="form-control" name="password_confirmation" type="password"
                                    autocomplete="off" placeholder="Nhập lại mật khẩu...">
                            </div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <div class="text-left">
                                <span class="form-title">Họ:</span>
                            </div>
                            <div class="col-lg-12 p-0">
                                <input class="form-control" name="first_name" type="text" autocomplete="off"
                                    placeholder="Vui lòng nhập họ tên" required>
                            </div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <div class="text-left">
                                <span class="form-title">Tên:</span>
                            </div>
                            <div class="col-lg-12 p-0">
                                <input class="form-control" name="last_name" type="text" autocomplete="off"
                                    placeholder="Vui lòng nhập họ tên" required>
                            </div>
                        </div>
                    </div>
                    <div class="py-3 text-center">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-off">
                            </span>
                            Đăng ký
                        </button>
                    </div>
                    <div class="footer py-3 text-center">
                        <p>Đã có tài khoản? <a href="#">Đăng nhập</a></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<style>
    .paper {
        background: #fff;
        padding: 30px;
        position: relative;
    }

    .paper,
    .paper::before,
    .paper::after {
        border: 1px solid #bbb;
    }

    .paper::before,
    .paper::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 99%;
        background-color: #eee;
    }

    .paper::before {
        right: 14px;
        top: -4px;
        transform: rotate(-5deg);
        z-index: -1;
    }

    .paper::after {
        top: 8px;
        right: -8px;
        transform: rotate(8deg);
        z-index: -2;
    }

    @media screen and (max-width: 575px) {

        .paper::before,
        .paper::after {
            display: none;
        }
    }
</style>
{% endblock %}