{% extends 'layouts/default.html' %}

{% block title %}Regions{% endblock %}

{% block content %}
{% from "components/itemproduct.html" import product %}
<section id="slider" class="bg-light">
    <div class="container">
        <div class="bg-regions">
            <img src="http://www.chanhthu.com/slave/slide/1492839637_5.jpg" alt="">
        </div>
    </div>
</section>
<section class="py-2 bg-light">
    <div class="container">
        <div class="title-company">
            <h2>Tỉnh thành liên quan</h2>
        </div>
        <div class="swiper-container swiper-company">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                BRVT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                Tây Ninh
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                Bình Dương
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                Đồng Nai
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                Bình Phước
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                Tp Hồ Chí Minh
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                BRVT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="regions">
                        <div class="regions-img">
                            <a href="#">
                                BRVT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-button-next-company d-block d-md-none"></div>
            <div class="swiper-button-prev swiper-button-prev-company d-block d-md-none"></div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Tây Bắc</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-md-inline-block text-md-left text-center text-danger title-content">
                    <div class="be-text-large text-uppercase d-md-inline-block d-block">
                        Sàn Đặc Sản <span>Tây bắc</span>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-12">
                <div class="product-list">
                    <div class="row">
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                        <div class="col-md-3 col-6 product-list--item">
                            {{ product('Máy Đánh Trứng Bluestone HMB-6333S', '579.000 đ',  '799.000 đ', '-28%', './public/images/maydanhtrung.jpg') }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}