{% extends 'layouts/default.html' %}

{% block title %}Aboutgeneral{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><span>Hình ảnh</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="overlay"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h1 class="header-title text-md-left text-uppercase text-center text-md-left">
                    Kho Hình Ảnh
                </h1>
                <hr>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-9 py-3 py-md-0">
                        <div class="title-album">
                            <h2>Ảnh khai trương</h2>
                        </div>
                        <div class="row py-3">
                            <div class="col-md-3 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" 
                                    data-caption="Some lovely red flowers"
                                    data-image="{{img('gallery1.png')}}"
                                    data-target="#image-gallery">
                                    <img class="img-responsive album-img" src="{{img('gallery1.png')}}"
                                        alt="Short alt text">
                                </a>
                            </div>
                            <div class="col-md-3 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                    data-caption="Some lovely red flowers"
                                    data-image="{{img('gallery2.png')}}"
                                    data-target="#image-gallery">
                                    <img class="img-responsive album-img" src="{{img('gallery2.png')}}"
                                        alt="Short alt text">
                                </a>
                            </div>
                            <div class="col-md-3 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                    data-caption="Some lovely red flowers"
                                    data-image="{{img('gallery4.png')}}"
                                    data-target="#image-gallery">
                                    <img class="img-responsive album-img" src="{{img('gallery4.png')}}"
                                        alt="Short alt text">
                                </a>
                            </div>
                        </div>
                        <div class="title-album">
                            <h2>Ảnh khai trương</h2>
                        </div>
                        <div class="row py-3">
                            <div class="col-md-3 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" 
                                    data-caption="Some lovely red flowers"
                                    data-image="{{img('gallery1.png')}}"
                                    data-target="#image-gallery">
                                    <img class="img-responsive album-img" src="{{img('gallery1.png')}}"
                                        alt="Short alt text">
                                </a>
                            </div>
                            <div class="col-md-3 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                    data-caption="Some lovely red flowers"
                                    data-image="{{img('gallery3.png')}}"
                                    data-target="#image-gallery">
                                    <img class="img-responsive album-img" src="{{img('gallery3.png')}}"
                                        alt="Short alt text">
                                </a>
                            </div>
                            <div class="col-md-3 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                                    data-caption="Some lovely red flowers"
                                    data-image="{{img('gallery5.png')}}"
                                    data-target="#image-gallery">
                                    <img class="img-responsive album-img" src="{{img('gallery5.png')}}"
                                        alt="Short alt text">
                                </a>
                            </div>
                        </div>
                        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                                class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="image-gallery-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <img id="image-gallery-image" class="img-responsive" src="">
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-2 mr-3">
                                            <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                                        </div>
                        
                                        <div class="col-md-2">
                                            <button type="button" id="show-next-image" class="btn btn-warning">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="d-block text-center">
                            <h5>Dự Án Liên Quan</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}