{% extends 'layouts/default.html' %}

{% block title %}AboutContent{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><span>Tầm Nhìn</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h1 class="header-title text-md-left text-uppercase text-center text-md-left">
                    Tầm nhìn
                </h1>
                <hr>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-9 py-3 py-md-0">
                        ới những doanh nghiệp mới thành lập, đặt kế hoạch mới, chương trình mới để hoạch định dịch vụ của mình thì xây dựng tầm
                        nhìn trước, vì nó sẽ dẫn dắt sứ mệnh và phần còn lại của kế hoạch chiến lược theo đó.
                        
                        Với những doanh nghiệp đã thành lập thì đã có sẵn sứ mệnh, thường thì khi đó sứ mệnh sẽ dẫn dắt tầm nhìn và phần còn lại
                        của kế hoạch chiến lược cho tương lai.
                        
                        Tôi hy vọng với bài viết này bạn đã hiểu rõ sứ mệnh và tầm nhìn là gì?
                    </div>
                    <div class="col-md-3">
                        <div class="d-block text-center">
                            <h5>Dự Án Liên Quan</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}