{% extends 'layouts/default.html' %}

{% block title %}Aboutgeneral{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><span>Sơ đồ tổ chức</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h1 class="header-title text-md-left text-uppercase text-center text-md-left">
                    Sơ đồ tổ chức
                </h1>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-9 py-3 py-md-0">
                        <ul class="nolist flex-nowrap nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active tabs-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                    aria-selected="true">Sơ đồ tổ chức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tabs-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                    aria-selected="false">Sơ đồ tổ chức trang web</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.15752-9/62436071_193359948248426_2547639110948880384_n.png?_nc_cat=100&_nc_oc=AQntu8niWg4ih_WN5g79shuQwe2okIVyB6j6kLAdXetGOaNItwkA7iFUQo2jv0bTlh4&_nc_ht=scontent.fsgn5-5.fna&oh=26c21cab6b3f088121ad028195dc98c3&oe=5D8FFF30" alt="">
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <img src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.15752-9/62337747_413496132834610_5191844157752082432_n.png?_nc_cat=107&_nc_oc=AQkq3g6D1LdrpaxyTqi3i5fY1hcbrVoP2eumQj0ab3QwLhPHz_GkEDiIaCyey2avUTQ&_nc_ht=scontent.fsgn5-2.fna&oh=74a9a6aa84b56c16fee6a4547f7df486&oe=5D90166A" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-block text-center">
                            <h5>Dự Án Liên Quan</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}