{% extends 'layouts/default.html' %}

{% block title %}Aboutdirectors{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><span>Ban giám đốc</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h1 class="header-title text-md-left text-uppercase text-center text-md-left">
                    Ban Giám Đốc
                </h1>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-9 py-3 py-md-0">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                                <div class="card">
                                    <div class="card-top-direc">
                                        <img src="http://www.coteccons.vn/app/uploads/2016/04/1.png" alt="">
                                        <div class="card-top-content">
                                            <div class="title-direc">
                                                Nguyễn Kim Trọng
                                            </div>
                                            <div class="roll">
                                                Tổng giám đốc
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-top-direc">
                                        <img src="http://www.coteccons.vn/app/uploads/2016/04/1.png" alt="">
                                        <div class="card-top-content">
                                            <div class="title-direc">
                                                Nguyễn Kim Trọng
                                            </div>
                                            <div class="roll">
                                                Tổng giám đốc
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-top-direc">
                                        <img src="http://www.coteccons.vn/app/uploads/2016/04/1.png" alt="">
                                        <div class="card-top-content">
                                            <div class="title-direc">
                                                Nguyễn Kim Trọng
                                            </div>
                                            <div class="roll">
                                                Tổng giám đốc
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-top-direc">
                                        <img src="http://www.coteccons.vn/app/uploads/2016/04/1.png" alt="">
                                        <div class="card-top-content">
                                            <div class="title-direc">
                                                Nguyễn Kim Trọng
                                            </div>
                                            <div class="roll">
                                                Tổng giám đốc
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-top-direc">
                                        <img src="http://www.coteccons.vn/app/uploads/2016/04/1.png" alt="">
                                        <div class="card-top-content">
                                            <div class="title-direc">
                                                Nguyễn Kim Trọng
                                            </div>
                                            <div class="roll">
                                                Tổng giám đốc
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-block text-center">
                            <h5>Dự Án Liên Quan</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}