{% extends 'layouts/default.html' %}

{% block title %}Certificate{% endblock %}

{% block content %}
<section class="Certificate">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><span>Liên Hệ</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 py-3">
                <h1 class="header-title text-warning text-uppercase">Chứng Chỉ Iso</h1>
                <hr>
            </div>
            <div class="col-md-9">
                388ic là tổng thầu thiết kế và thi công chuyên nghiệp, chuyên thi công các dự án lớn tại Việt Nam do các khách hàng
                trong nước và quốc tế đầu tư.<br>
                
                388ic cam kết áp dụng hệ thống quản lý chất lượng đồng bộ và hiệu quả trong các hoạt động của tổ chức và duy trì
                việc đánh giá và cấp chứng chỉ ISO 9001:2015; ISO 14001:2015 & OHSAS 18001:2007.<br>
                
                Các dự án xây dựng luôn có các yêu cầu đa dạng, luôn thay đổi, với những đặc điểm khác nhau về loại dự án, điểm nhấn
                kiến trúc, khách hàng, vị trí dự án, tay nghề người lao động … Do đó chúng tôi đề cao tầm quan trọng của việc thiết lập,
                vận hành hệ thống quản lý, đảm bảo sự thành công của các mục tiêu đề ra, trong phạm vi linh động cho phép để đáp ứng các
                yêu cầu khác nhau của từng dự án.<br>
                
                Với mục tiêu tiết kiệm chi phí và thời gian cho khách hàng, hệ thống quản lý 388ic được áp dụng từ giai đoạn thiết
                kế ý tưởng, đấu thầu/chào thầu, lập và soát xét hợp đồng, triển khai thi công, cho tới khi hoàn thành công tác bảo hành.<br>
                
                Hệ thống quản lý chất lượng 388ic liên tục được xem xét cải tiến cho phù hợp với yêu cầu của từng dự án cụ thể, đảm
                bảo kết quả tốt nhất cho khách hàng.<br>
                
                Các chương trình huấn luyện nội bộ của chúng tôi đảm bảo CBNV có kiến thức và hiểu biết đầy đủ về hệ thống quản lý
                388ic, tạo điều kiện thuận lợi cho CBNV trong việc áp dụng và duy trì các quy định của hệ thống cho tất cả các dự
                án.<br>
                
                Sự hài lòng của khách hàng là tiêu chí đánh giá khi dự án hoàn thành. Chúng tôi ủng hộ việc khách hàng gửi thư đánh giá
                khách quan về năng lực thiết kế & thi công của chúng tôi. 388ic cũng thực hiện việc đánh giá nội bộ về mức độ thành
                công của dự án dựa trên các tiêu chí tiến độ, chất lượng, an toàn lao động và hiệu quả kinh tế của lực lượng thi công.<br>
                
                Chúng tôi ban hành chính sách này, khẳng định sự cam kết rằng 388ic và các nhà thầu phụ, nhà cung cấp, đội thi công
                của mình sẽ tạo ra các sản phẩm có chất lượng tốt nhất cho khách hàng.
                
                Tp.HCM, ngày 15/04/2017
                Tổng Giám đốc
                (Đã ký)
                NGUYỄN BÁ DƯƠNG
            </div>
            <div class="col-md-3">
                <div class="d-block text-center">
                    <h5>Dự Án Liên Quan</h5>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="card border mb-2 card-hover-primary">
                            <div class="card-another-top">
                                <a href="#" class="w-100">
                                    <img class="product-image w-100 p-2"
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-another-body text-center">
                                <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="card border mb-2 card-hover-primary">
                            <div class="card-another-top">
                                <a href="#" class="w-100">
                                    <img class="product-image w-100 p-2"
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-another-body text-center">
                                <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="card border mb-2 card-hover-primary">
                            <div class="card-another-top">
                                <a href="#" class="w-100">
                                    <img class="product-image w-100 p-2"
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-another-body text-center">
                                <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}