{% extends 'layouts/default.html' %}

{% block title %}DetailRecruit{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><span>tuyển dụng abc</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center mb-3 detail-company">
            <div class="col-md-2 text-center img-company py-2">
                <img src="{{img('company1.png')}}" alt="">
            </div>
            <div class="col-md-10 content-company py-2">
                <ul class="nolist">
                    <li class="post-title-sm">
                        <span class="post-itemlist-title detail-company__title">Tuyển dụng 50 nhân viên cơ khí</span>
                    </li>
                </ul>
                <div class="recruit-content">
                    <label>
                        <i class="fa fa-money" aria-hidden="true"></i>
                        5 - 10 triệu
                    </label>
                    <label>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        30/6/2019
                    </label>
                    <label>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        SL: 20
                    </label>
                </div>
                <div class="recruit-content">
                    <span class="btn-sm btn-warning d-inline-block m-1">Không yêu cầu kinh nghiệm</span>
                    <span class="btn-sm btn-warning d-inline-block m-1">Nam</span>
                    <span class="btn-sm btn-warning d-inline-block m-1">Kế Toán</span>
                    <span class="btn-sm btn-warning d-inline-block m-1">Đại Học</span>
                    <span class="btn-sm btn-warning d-inline-block m-1">Nhân Viên</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="d-flex flex-wrap list-detail">
                    <div class="col-md-12 flex-column col-12 pt-3 p-0">
                        <div class="list-detail-items">
                            <h4>Quyền lợi được hưởng</h4>
                            <div class="border p-3">
                                <p>Thời gian làm việc thân thiện, linh hoạt và môi trường khởi động vui vẻ.
                                    Mức lương hấp dẫn dựa trên kỹ năng và kinh nghiệm.
                                    Được làm việc với người nước ngoài
                                    Cà phê và đồ ăn nhẹ miễn phí.
                                    Bảo hiểm chăm sóc sức khoẻ
                                    13 tháng lương.<br>
                                    Nghỉ phép phải trả 15 ngày một năm.</p>
                            </div>
                        </div>
                        <div class="list-detail-items">
                            <h4>Mô tả công việc</h4>
                            <div class="border p-3">
                                <p>Chúng tôi đang tìm kiếm một kỹ sư lập trình backend JavaScript, người thành thạo với
                                    React.js. Trọng tâm chính của bạn
                                    sẽ là phát triển các thành phần giao diện người dùng và triển khai chúng theo thư
                                    viện
                                    React.js phổ biến (chẳng hạn như
                                    Flux hoặc Redux). Bạn phải đảm bảo rằng các components là một ứng dụng tổng thể, dễ
                                    phát
                                    triển, dễ bảo trì. Bạn sẽ phối
                                    hợp với phần còn lại của nhóm làm việc trên các tầng khác nhau của cơ sở hạ tầng. Do
                                    đó,
                                    cam kết giải quyết vấn đề hợp
                                    tác, thiết kế tinh vi và chất lượng sản phẩm là quan trọng.</p>
                            </div>
                        </div>
                        <div class="list-detail-items">
                            <h4>Yêu cầu công việc</h4>
                            <div class="border p-3">
                                <p>Có từ kinh nghiệm với vị trí lập trình backend javascript<br>
                                    Có kiến thức về lập trình HTML5, JavaScript, jQuery, Ajax and PHP, MySQL<br>
                                    Phát triển các tính năng mới hướng đến người dùng bằng React.js<br>
                                    Xây dựng các components và thư viện front-end<br>
                                    Lập trình code dựa trên thiết kế và khung thiết kế có sẳn<br>
                                    Tối ưu hóa các components cho hiệu suất tối đa trên một loạt các thiết bị và trình
                                    duyệt
                                    web</p>
                            </div>
                        </div>
                        <div class="list-detail-items">
                            <h4>Yêu cầu hồ sơ</h4>
                            <div class="border p-3">
                                <p>Sơ yếu lý lịch, hộ khẩu, cmnd, ...</p>
                            </div>
                        </div>
                        <div class="list-detail-items">
                            <h4>Thông tin liên hệ</h4>
                            <div class="border p-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <strong>Người liên hệ:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span>Nguyễn Văn Lan</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <strong>Số điện thoại:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span>0899776655</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <strong>Hạn nợp hồ sơ:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span>30/6/2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row flex-column bannerqc-detail sticky">
                    <div class="col-12 mb-3 w-100">
                        <img src="https://i.pinimg.com/originals/71/dd/2e/71dd2e2c9f753dd5c101e1c645ea8eee.jpg" alt="">
                    </div>
                    <div class="col-12 mb-3 w-100">
                        <img src="https://i.pinimg.com/originals/71/dd/2e/71dd2e2c9f753dd5c101e1c645ea8eee.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-detail-items">
                    <h4>Việc làm tương tự</h4>
                    <div class="d-flex flex-wrap align-items-center mb-3 detail-company py-3">
                        <div class="col-lg-12">
                            <ul class="nolist list-job-another">
                                <li><a href="#">Tuyển dụng nhân viên lao công</a></li>
                                <li><a href="#">Tuyển dụng senior Java</a></li>
                                <li><a href="#">Tuyển dụng Junior Java</a></li>
                                <li><a href="#">Tuyển dụng Thực tập sinh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}