{% extends 'layouts/default.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<section class="slide-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-main" style="overflow: hidden">
                    <div class=" slide-items">
                        <img src="http://www.coteccons.vn/app/uploads/2018/02/11/z1378426370986_9140a3b1e8caf43d5d64bc9aa7b6c68f.jpg"
                            alt="">
                        <article class="slide-items-content">
                            <h5 class="m-0">Giá xăng tăng cao thời điểm cực hotdasdasdsadsa</h5>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3">
    <div class="container">
        <div class="d-flex flex-wrap title-descript">
            <div class="flex-grow-1">
                <h3 class="text-uppercase">Dự án tiêu biểu</h3>
            </div>
            <div class="other-project">
                <ul class="nolist d-flex">
                    <li>
                        <a href="">Thiết kế và thi công</a>
                    </li>
                    <li>
                        <a href="">Dân dụng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-12">
                <div class="swiper-container swiper-product">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide card card-hover">
                            <div class="card-top">
                                <a href="#"><img
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <div class="products-title">
                                    <a href="#">Timberland ManWah</a>
                                </div>
                                <div class="products-content">
                                    <span>Dự án dân dụng có quy mô lớn</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card card-hover">
                            <div class="card-top">
                                <a href="#"><img
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <div class="products-title">
                                    <a href="#">Timberland ManWah</a>
                                </div>
                                <div class="products-content">
                                    <span>Dự án dân dụng có quy mô lớn</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card card-hover">
                            <div class="card-top">
                                <a href="#"><img
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <div class="products-title">
                                    <a href="#">Timberland ManWah</a>
                                </div>
                                <div class="products-content">
                                    <span>Dự án dân dụng có quy mô lớn</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card card-hover">
                            <div class="card-top">
                                <a href="#"><img
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <div class="products-title">
                                    <a href="#">Timberland ManWah</a>
                                </div>
                                <div class="products-content">
                                    <span>Dự án dân dụng có quy mô lớn</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card card-hover">
                            <div class="card-top">
                                <a href="#"><img
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <div class="products-title">
                                    <a href="#">Timberland ManWah</a>
                                </div>
                                <div class="products-content">
                                    <span>Dự án dân dụng có quy mô lớn</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card card-hover">
                            <div class="card-top">
                                <a href="#"><img
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <div class="products-title">
                                    <a href="#">Timberland ManWah</a>
                                </div>
                                <div class="products-content">
                                    <span>Dự án dân dụng có quy mô lớn</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card card-hover">
                            <div class="card-top">
                                <a href="#"><img
                                        src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <div class="products-title">
                                    <a href="#">Timberland ManWah</a>
                                </div>
                                <div class="products-content">
                                    <span>Dự án dân dụng có quy mô lớn</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3">
    <div class="container">
        <div class="d-flex flex-wrap bg-news">
            <div class="col-md-12 py-3">
                <div class="row title-descript px-3">
                    <h3 class="text-leftd-md-inline-block col">TIN MỚI NHẤT</h3>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="article-news">
                    <a href="#" class="d-block">
                        <img class="img-product-st"
                            src="https://media.vutaweb.com/uploads/trongnuyen/2019-05-20/o-nhiem-khong-khi_size_660x440.jpg"
                            alt="">
                    </a>
                    <a href="#">Giá xăng tăng cao thời điểm cực hotdas</a>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="article-thumb">
                    <div class="card-top-news">
                        <a href="#">
                            <img src="https://media.vutaweb.com/uploads/trongnuyen/2019-05-17/thum_size_960x538.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="card-body-news">
                        <a href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Giá xăng tăng cao thời điểm cực hot
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="article-thumb">
                    <div class="card-top-news">
                        <a href="#">
                            <img src="https://media.vutaweb.com/uploads/trongnuyen/2019-05-17/thum_size_960x538.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="card-body-news">
                        <a href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Giá xăng tăng cao thời điểm cực hot
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="article-thumb">
                    <div class="card-top-news">
                        <a href="#">
                            <img src="https://media.vutaweb.com/uploads/trongnuyen/2019-05-17/thum_size_960x538.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="card-body-news">
                        <a href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Giá xăng tăng cao thời điểm cực hot
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="article-thumb">
                    <div class="card-top-news">
                        <a href="#">
                            <img src="https://media.vutaweb.com/uploads/trongnuyen/2019-05-17/thum_size_960x538.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="card-body-news">
                        <a href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Giá xăng tăng cao thời điểm cực hot
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="article-thumb">
                    <div class="card-top-news">
                        <a href="#">
                            <img src="https://media.vutaweb.com/uploads/trongnuyen/2019-05-17/thum_size_960x538.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="card-body-news">
                        <a href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Giá xăng tăng cao thời điểm cực hot
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="article-thumb">
                    <div class="card-top-news">
                        <a href="#">
                            <img src="https://media.vutaweb.com/uploads/trongnuyen/2019-05-17/thum_size_960x538.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="card-body-news">
                        <a href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            Giá xăng tăng cao thời điểm cực hot
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row py-3">
            <div class="col-md-8">
                <div class="d-flex flex-wrap title-descript mb-3">
                    <div class="flex-grow-1">
                        <h3 class="text-uppercase">Tuyển Dụng</h3>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="recruit col-md-6 mb-3">
                        <div class="row">
                            <div class="col-md-4 col-5">
                                <a href="#" class="d-block">
                                    <img src="http://www.coteccons.vn/app/uploads/2019/05/30/paperwork.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 pl-0 col-7">
                                <a href="#" class="recruit-title">
                                    Tuyển dụng 50 công nhân cơ khí hàn làm việc vũng tàu
                                </a>
                                <div class="recruit-content">
                                    <label>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        5 - 10 triệu
                                    </label>
                                    <label>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        30/6/2019
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruit col-md-6 mb-3">
                        <div class="row">
                            <div class="col-md-4 col-5">
                                <a href="#" class="d-block">
                                    <img src="http://www.coteccons.vn/app/uploads/2019/05/30/paperwork.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 pl-0 col-7">
                                <a href="#" class="recruit-title">
                                    Tuyển dụng 50 công nhân cơ khí hàn làm việc vũng tàu
                                </a>
                                <div class="recruit-content">
                                    <label>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        5 - 10 triệu
                                    </label>
                                    <label>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        30/6/2019
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruit col-md-6 mb-3">
                        <div class="row">
                            <div class="col-md-4 col-5">
                                <a href="#" class="d-block">
                                    <img src="http://www.coteccons.vn/app/uploads/2019/05/30/paperwork.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 pl-0 col-7">
                                <a href="#" class="recruit-title">
                                    Tuyển dụng 50 công nhân cơ khí hàn làm việc vũng tàu
                                </a>
                                <div class="recruit-content">
                                    <label>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        5 - 10 triệu
                                    </label>
                                    <label>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        30/6/2019
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruit col-md-6 mb-3">
                        <div class="row">
                            <div class="col-md-4 col-5">
                                <a href="#" class="d-block">
                                    <img src="http://www.coteccons.vn/app/uploads/2019/05/30/paperwork.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 pl-0 col-7">
                                <a href="#" class="recruit-title">
                                    Tuyển dụng 50 công nhân cơ khí hàn làm việc vũng tàu
                                </a>
                                <div class="recruit-content">
                                    <label>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        5 - 10 triệu
                                    </label>
                                    <label>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        30/6/2019
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruit col-md-6 mb-3">
                        <div class="row">
                            <div class="col-md-4 col-5">
                                <a href="#" class="d-block">
                                    <img src="http://www.coteccons.vn/app/uploads/2019/05/30/paperwork.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 pl-0 col-7">
                                <a href="#" class="recruit-title">
                                    Tuyển dụng 50 công nhân cơ khí hàn làm việc vũng tàu
                                </a>
                                <div class="recruit-content">
                                    <label>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        5 - 10 triệu
                                    </label>
                                    <label>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        30/6/2019
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruit col-md-6 mb-3">
                        <div class="row">
                            <div class="col-md-4 col-5">
                                <a href="#" class="d-block">
                                    <img src="http://www.coteccons.vn/app/uploads/2019/05/30/paperwork.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8 pl-0 col-7">
                                <a href="#" class="recruit-title">
                                    Tuyển dụng 50 công nhân cơ khí hàn làm việc vũng tàu
                                </a>
                                <div class="recruit-content">
                                    <label>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        5 - 10 triệu
                                    </label>
                                    <label>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        30/6/2019
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="operate">
                    <div class="title-right">
                        <h4>HỢP TÁC CÙNG 388</h4>
                    </div>
                    <div class="py-2 px-3">
                        <span>Nhấp chuột vào link liên kết để liên hệ với 388</span>
                    </div>
                    <div class="d-flex py-2">
                        <a href="#" class="btn-sm font-weight-bold text-center btn-warning w-50 mx-2 text-white">Facebook</a>
                        <a href="#" class="btn-sm font-weight-bold text-center btn-warning w-50 mx-2 text-white">Zalo</a>
                    </div>
                    <div class="d-flex py-2 text-right align-items-center">
                        <div class="flex-grow-1 pr-3">
                            <h5>0909 090 922</h5>
                            <span>HOTLINE</span>
                        </div>
                        <div>
                            <a href="#" class="btn btn-warning d-inline-block text-center align-items-center">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="recruit py-3">
                    <div class="title-right">
                        <h4>TIN THỊ TRƯỜNG</h4>
                    </div>
                    <div class="d-flex flex-wrap">
                        <ul class="nolist">
                            <li>
                                <a href="#">Landmark 81 kỳ vĩ như thế nào?</a>
                            </li>
                            <li>
                                <a href="#">Vì sao Coteccons quyết định chi 500 - 700 tỷ đồng mua cổ phiếu quỹ?</a>
                            </li>
                            <li>
                                <a href="#">Tuyển dụng 50 công nhân cơ khí</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}