{% extends 'layouts/default.html' %}

{% block title %}Newpost{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><span href="#">Tin tức ancxez</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newpost">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <article class="col-md-9">
                        <div class="row">
                            <div class="col-12 py-3">
                                <h1 class="title-post">8 chai nước hoa được các beauty editor diện quanh năm</h1>
                            </div>
                            <div class="col-12 post-date text-secondary">
                                <p class="la-text-normal">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                    <span>09-04-2019 09:54:13</span>
                                </p>
                            </div>
                            <div class="col-12 post-title-small">
                                <h2>Nếu bạn đang tìm kiếm một chai nước hoa có thể song hành với mình trong cả những ngày hè oi ả lẫn những ngày đông lạnh
                                giá thì đây thực sự là những gợi ý đáng tham khảo.</h2>
                                <p>Đa phần các tín đồ nước hoa đều có thói quen chọn mùi hương theo mùa: mùi nhẹ nhàng, tươi mát cho xuân và hạ; mùi trầm
                                đậm, ấm áp cho thu và đông. Tuy nhiên, cũng có không ít người chẳng màng bận tâm đến quy tắc này; phần vì họ thích một
                                mùi hương đến độ có thể dùng nó quanh năm suốt tháng, phần vì mùi hương đó có khả năng biến chuyển hoà hợp với từng mùa.
                                Mới đây, các biên tập viên sành điệu của chuyên trang thời trang đình đám Refinery29 đã chia sẻ về những mùi nước hoa
                                "tủ" mà họ đã và đang diện suốt cả 4 mùa mà không chán. Nếu bạn đang tìm kiếm một chai nước hoa có thể song hành với
                                mình trong cả những ngày hè oi ả lẫn những ngày đông lạnh giá thì đây thực sự là những gợi ý đáng tham khảo.</p>
                                <b>Tom Ford Shanghai Lily (5,3 triệu VNĐ/50ml)</b>
                                <img src="https://kenh14cdn.com/2018/12/22/pimmapichaya-15454493197841276327985.jpg" alt="">
                            </div>
                            <div class="col-12 py-3 text-right">
                                <small>Nguồn: Refinery29</small>
                            </div>
                        </div>
                    </article>
                    <div class="col-md-3">
                        <div class="d-block text-center">
                            <h5>Dự Án Mới Nhất</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2"
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}