{% extends 'layouts/default.html' %}

{% block title %}News{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><span>Tin Tức</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h1 class="header-title text-md-left text-uppercase">Tin tức mới</h1>
                <hr>
            </div>
            <div class="col-12 news-content">
                <div class="row">
                    <div class="col-md-9">
                        <ul class="nolist">
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img src="https://znews-photo.zadn.vn/w960/Uploaded/mdf_nemddf/2019_06_04/nen_nhyt.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">QUEEN ra mắt sản phẩm mới</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Tháng 03 vừa qua Queen bất ngờ ra mắt sản phẩm mới của mình
                                        dành cho các quý ông lịnh lãm. Với sự bức phá trong thiết kế
                                        lẫn công thức mùi đặc biệt, Queen 2019 sẽ là ...</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img src="https://znews-photo.zadn.vn/w960/Uploaded/mdf_nemddf/2019_06_04/nen_nhyt.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">QUEEN ra mắt sản phẩm mới</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Tháng 03 vừa qua Queen bất ngờ ra mắt sản phẩm mới của mình
                                        dành cho các quý ông lịnh lãm. Với sự bức phá trong thiết kế
                                        lẫn công thức mùi đặc biệt, Queen 2019 sẽ là ...</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img src="https://znews-photo.zadn.vn/w960/Uploaded/mdf_nemddf/2019_06_04/nen_nhyt.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">QUEEN ra mắt sản phẩm mới</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Tháng 03 vừa qua Queen bất ngờ ra mắt sản phẩm mới của mình
                                        dành cho các quý ông lịnh lãm. Với sự bức phá trong thiết kế
                                        lẫn công thức mùi đặc biệt, Queen 2019 sẽ là ...</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img src="https://znews-photo.zadn.vn/w960/Uploaded/mdf_nemddf/2019_06_04/nen_nhyt.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">QUEEN ra mắt sản phẩm mới</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Tháng 03 vừa qua Queen bất ngờ ra mắt sản phẩm mới của mình
                                        dành cho các quý ông lịnh lãm. Với sự bức phá trong thiết kế
                                        lẫn công thức mùi đặc biệt, Queen 2019 sẽ là ...</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img src="https://znews-photo.zadn.vn/w960/Uploaded/mdf_nemddf/2019_06_04/nen_nhyt.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">QUEEN ra mắt sản phẩm mới</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Tháng 03 vừa qua Queen bất ngờ ra mắt sản phẩm mới của mình
                                        dành cho các quý ông lịnh lãm. Với sự bức phá trong thiết kế
                                        lẫn công thức mùi đặc biệt, Queen 2019 sẽ là ...</p>
                                    </div>
                                </div>
                            </li>
                            <li class="row align-items-center py-3">
                                <div class="col-md-4 col-4">
                                    <a href="#"><img src="https://znews-photo.zadn.vn/w960/Uploaded/mdf_nemddf/2019_06_04/nen_nhyt.jpg" alt=""></a>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="post-title">
                                        <a href="#">QUEEN ra mắt sản phẩm mới</a>
                                    </div>
                                    <div class="post-content d-none d-md-block">
                                        <p>Tháng 03 vừa qua Queen bất ngờ ra mắt sản phẩm mới của mình
                                        dành cho các quý ông lịnh lãm. Với sự bức phá trong thiết kế
                                        lẫn công thức mùi đặc biệt, Queen 2019 sẽ là ...</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-md-12 py-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-block text-center">
                            <h5>Dự Án Liên Quan</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2" src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2" src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="card border mb-2 card-hover-primary">
                                    <div class="card-another-top">
                                        <a href="#" class="w-100">
                                            <img class="product-image w-100 p-2" src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-another-body text-center">
                                        <a href="#" class="text-uppercase p-2 d-block">Dự án abc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}