{% extends 'layouts/default.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 home-title">
                <div class="d-md-inline-block text-md-left text-center text-primary title-content">
                    <div class="be-text-large d-md-inline-block d-block">
                        <ul class="nolist be-breadcrumb text-uppercase d-inline-flex">
                            <li><a href="#">Trang chủ</a></li>
                            <li><span>Dự án</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-12 py-3">
                <h1 class="header-title text-md-left text-uppercase">Tất cả dự án</h1>
                <hr>
            </div>
            <div class="col-12 product-content">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="card card-hover">
                                    <div class="card-top">
                                        <a href="#"><img
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" class="products-img"
                                                alt=""></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="products-title">
                                            <a href="#">Timberland ManWah</a>
                                        </div>
                                        <div class="products-content">
                                            <span>Dự án dân dụng có quy mô lớn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card card-hover">
                                    <div class="card-top">
                                        <a href="#"><img
                                                src="{{img('gallery2.png')}}" class="products-img"
                                                alt=""></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="products-title">
                                            <a href="#">Timberland ManWah</a>
                                        </div>
                                        <div class="products-content">
                                            <span>Dự án dân dụng có quy mô lớn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card card-hover">
                                    <div class="card-top">
                                        <a href="#"><img
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" class="products-img"
                                                alt=""></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="products-title">
                                            <a href="#">Timberland ManWah</a>
                                        </div>
                                        <div class="products-content">
                                            <span>Dự án dân dụng có quy mô lớn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card card-hover">
                                    <div class="card-top">
                                        <a href="#"><img
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" class="products-img"
                                                alt=""></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="products-title">
                                            <a href="#">Timberland ManWah</a>
                                        </div>
                                        <div class="products-content">
                                            <span>Dự án dân dụng có quy mô lớn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card card-hover">
                                    <div class="card-top">
                                        <a href="#"><img
                                                src="http://www.coteccons.vn/app/uploads/2018/10/09/7893d2d022f8c2a69be9.jpg" class="products-img"
                                                alt=""></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="products-title">
                                            <a href="#">Timberland ManWah</a>
                                        </div>
                                        <div class="products-content">
                                            <span>Dự án dân dụng có quy mô lớn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card card-hover">
                                    <div class="card-top">
                                        <a href="#"><img
                                                src="{{img('gallery3.png')}}" class="products-img"
                                                alt=""></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="products-title">
                                            <a href="#">Timberland ManWah</a>
                                        </div>
                                        <div class="products-content">
                                            <span>Dự án dân dụng có quy mô lớn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 py-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="title-right">
                            <h4>Theo năm</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nolist product-years">
                                    <li><a href="">2019</a></li>
                                    <li><a href="">2018</a></li>
                                    <li><a href="">2017</a></li>
                                    <li><a href="">2016</a></li>
                                    <li><a href="">2015</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="title-right">
                            <h4>Theo tiến độ</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nolist product-years">
                                    <li><a href="">Đã thi công</a></li>
                                    <li><a href="">Đang thi công</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}