.be-breadcrumb {
    li:not(:last-child) {
        a {
        display: inline-block;
        font-size: .875rem;
        color: #999;
        }
    }
    li:last-child {
        span {
        display: inline-block;
        font-size: .875rem;
        color: rgb(0, 0, 0);
        }
    }
    li:not(:first-child) {
        &::before {
            content: "\f105";
            font-family: Fontawesome;
            font-size: 10pt;
            margin: 0 10px;
            @include max-sm {
                margin: 0 6px;
            }
        }
    }
}
.home-title {
    position: relative;
    .title-content {
        position: relative;
    }
}