@import './mixin';
@import './global';
@import './header';
@import './footer';
@import './cardproducts';
@import './breadcrumb';
@import './news';
@import './newpost';
@import './product';
@import './about';
@import './detailproduct';
@import './detailrecruit';
html {
	scroll-behavior: smooth;
}
.slide-items {
    position: relative;
    &-content {
        position: absolute;
        left: 0;
        bottom: -20%;
        background-color: rgba(#000, .3);
        color: #fff;
        width: 100%;
        padding: 16px 8px;
        transition: .4s ease all;
        @include max-sm {
            bottom: -100%;
            padding: 4px 2px;
        }
    }
    &:hover {
        .slide-items-content {
            bottom: 0%;
        }
    }
}
.title-descript {
    h3 {
        font-size: 15pt;
    }
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(#000, .3);
    }
}
.other-project {
    li a {
        color: rgb(75, 73, 73);
        padding: 4px 8px;
    }
}
.bg-news{
    background-color:#FFF8E1;
}
.article-thumb{
    position:relative;
    display:flex;
    flex-direction:column;
    @include max-sm {
        flex-direction: row;
    }
}
.article-thumb a{
    color:#000
}
.article-thumb a:hover{
    color:#006eff
}
.card-top-news {
    @include max-sm {
        flex: 1 40%;
        margin-right: 4px;
    }
}
.article-thumb img{
    width:100%;
    height:180px;
    @include max-lg {
        height: 120px;
    }
    @include max-sm {
        height: auto!important;
    }
}
.news-title h3:first-child,.news-title h3:last-child{
    display:inline-block;
}
.title-right {
    position: relative;
    background-color: #FFA726;
    color: #fff;
    padding: 6px 20px 6px 6px;
    
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        top: 0;
        border-top: 31px solid #fff;
        border-left: 49px solid transparent;
    }
    h4 {
        font-size: 13pt;
        margin: 0;
        font-weight: 600;
    }
}
.recruit {
    ul li {
        padding: 8px;
        font-size: 11pt;
        
        &::before {
            content: '>';
            font-size: 10pt;
        }
    }
    li a {
        color: rgb(16, 47, 202);
    }
}
.img-product-st {
    height: 300px;
    width: 100%;
    @include max-sm {
        height: auto!important;
    }
}
.recruit-title {
    color: #212121;
    line-height: 1;
    font-size: 11pt;
    &:hover {
        color: #0277BD;
    }
}
.recruit-content {
    label:first-child {
        color: #FF9800;
        margin-right: 5px;
        font-size: 10pt;
    }
    label {
        color: #FF9800;
        margin-right: 5px;
        font-size: 10pt;
    }
    label:last-child {
        color: rgba(rgb(43, 43, 43) , .7);
        font-size: 10pt;
    }
}