<footer id="footer">
    <div class="footer-top p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="http://templatecs.com/demo/template/deliki/images/logo-fooddy-w.png" alt="">
                    <address>
                        <ul class="nolist list-company">
                            <li>
                                <span>Leo coffee:</span>
                                <a href="#">Chi nhánh: 38A Ba Mươi Tháng Tư, Phường 9, Thành phố Vũng Tầu, Bà Rịa - Vũng Tàu, Việt Nam.</a>
                            </li>
                            <li>
                                <span>Leo restaurant:</span>
                                <a href="#">Chi nhánh: 38A Ba Mươi Tháng Tư, Phường 9, Thành phố Vũng Tầu, Bà Rịa - Vũng Tàu, Việt Nam.</a>
                            </li>
                            <li>
                                <span>Leo homstay:</span>
                                <a href="#">Chi nhánh: 38A Ba Mươi Tháng Tư, Phường 9, Thành phố Vũng Tầu, Bà Rịa - Vũng Tàu, Việt Nam.</a>
                            </li>
                        </ul>
                    </address>
                </div>
                <div class="col-md-4">
                    <h4 class="text-white" style="font-size: 14pt;">NEWSLETTER</h4>
                    <form action="" method="get">
                        <input class="form-control my-3" type="text" name="text" placeholder="Enter your email">
                        <button class="btn btn-danger" type="submit">Sub</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="fanpage">
                        <div class="fb-page footer-body" data-href="https://www.facebook.com/zillmaphongba/" data-tabs="timeline"
                            data-width="500" data-height="250" data-small-header="false" data-adapt-container-width="true"
                            data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/zillmaphongba/" class="fb-xfbml-parse-ignore"><a
                                    href="https://www.facebook.com/zillmaphongba/">Live
                                    Game mobile</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>2019 DESIGNED BY KIMTRONG . ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>