<footer id="footer">
    <div class="footer-main py-4" >
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="logo-footer">
                        <a href="#">
                            <img src="https://vungtaucity.com.vn/img/logo_top00.png" alt="">
                        </a>
                    </div>
                    <div class="py-2">
                        <span class="text-small">
                            Website chúng tôi chuyên cung cấp các sản phẩm chính hãng với đầy đủ các loại sản phẩm cơ
                            điện lạnh,
                            điện gia dụng,...
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row pb-3 pb-md-0">
                        <div class="col-md-6 col-6">
                            <ul class="nolist">
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-6">
                            <ul class="nolist">
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                                <li><a href="#">Menu-footer1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fanpage">
                        <div class="fb-page footer-body" data-href="https://www.facebook.com/zillmaphongba/"
                            data-tabs="timeline" data-width="500" data-height="180" data-small-header="false"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/zillmaphongba/" class="fb-xfbml-parse-ignore"><a
                                    href="https://www.facebook.com/zillmaphongba/">Live
                                    Game mobile</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white bg-copyright text-center py-3">
        <div class="copyright text-xnomal">
            @Bản quyền thuộc về shopxyz.com | Thiết kế và phát triển bởi TYHON.VN
        </div>
    </div>
</footer>