<div class="topBar-user">
    <div class="container">
        <div class="d-flex flex-wrap">
            <div class="flex-grow-1">

            </div>
            <div class="d-flex">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-white manager-username text-uppercase">
                        Tài khoản 
                        <span>
                        Trọng Nguyễn
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu bg-light m-0 p-0">
                    <div class="manager-box">
                        <a href="http://google.com" class="w-100 manager-link font-weight-bold">
                            Thông tin tài khoản
                        </a>
                    </div>
                    <div class="manager-box">
                        <a href="http://google.com" class="w-100 manager-link font-weight-bold">
                            Quản lý sản phẩm
                        </a>
                    </div>
                    <div class="manager-box">
                        <a href="http://google.com" class="w-100 manager-link font-weight-bold">
                            Quản lý doanh thu
                        </a>
                    </div>
                    <div class="manager-box">
                        <a href="http://google.com" class="w-100 manager-link font-weight-bold">
                            Quản lý đơn hàng
                        </a>
                    </div>
                    <div class="manager-box">
                        <a href="http://google.com" class="w-100 manager-link font-weight-bold">
                            Đăng xuất
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="header">
    <div class="container">
        <div class="row align-items-center py-2">
            <div class="col-md-2 col-5">
                <div id="logo">
                    <a href="#" class="d-block">
                        <img src="https://vungtaucity.com.vn/img/logo_top00.png" alt="">
                    </a>
                </div>
            </div>
            <div id="toggle" class="col-7 text-right d-block d-md-none">
                <a href="#" class="text-white main-navbar-toggle" data-menu>
                    <i class="fi fi-nav-icon-a"></i>
                    <span class="text-uppercase">Menu</span>
                </a>
            </div>
            <div class="col-lg-8 col-md-7 col-9 py-2 py-md-0">
                <div class="form-search">
                    <form action="" method="post">
                        <div class="form-group m-0 d-flex flex-row">
                            <input class="form-control-sm border-0 rounded-0 flex-grow-1" type="text" name="search"
                                placeholder="Tìm sản phẩm, danh mục ...">
                            <button class="btn btn-sm btn-warning rounded-0 d-inline px-3" type="submit">
                                <i class="fi fi-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-3 py-2 py-md-0">
                <div class="header-link row text-white align-items-center">
                    <a href="#" id="cart" class="col-md-12 text-white">
                        <div class="d-flex align-items-center cart-items">
                            <div class="header-link-icons">
                                <i class="fi fi-shopping-basket"></i>
                            </div>
                            <div class="flex-grow-1 flex-row d-none d-md-block">
                                Giỏ hàng
                            </div>
                            <div class="">
                                <label id="cart-number" class="bg-warning mb-0">0</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>