<header id="header">
    <a href="#">
        <div class="banner-top d-none d-md-block">
            <img src="https://salt.tikicdn.com/ts/banner/5d/43/68/a6dac8067d16c6901e4eae2fa74d50ec.png" alt="">
        </div>
    </a>
    <div class="px-3">
        <div class="row align-items-center py-3">
            <div class="col-md-2 col-6">
                <div id="logo">
                    <a href="#">
                        <img src="https://salt.tikicdn.com/ts/banner/33/ba/89/54c02d2475983f93a024c0cd13f238e4.png"
                            alt="">
                    </a>
                </div>
            </div>
            <div id="toggle" class="col-6 text-right d-block d-md-none">
                <a href="#" class="text-white main-navbar-toggle" data-menu>
                    <i class="fi fi-nav-icon-a"></i>
                    <span class="text-uppercase">Menu</span>
                </a>
            </div>
            <div class="col-lg-5 col-md-10">
                <div class="form-search">
                    <form action="" method="post">
                        <div class="form-group m-0 d-flex flex-row">
                            <input class="form-control-sm border-0 rounded-0 flex-grow-1" type="text" name="search"
                                placeholder="Tìm sản phẩm, danh mục ...">
                            <button class="btn btn-sm btn-warning rounded-0 d-inline px-3" type="submit">
                                <i class="fi fi-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="header-link d-flex flex-wrap text-white align-items-center">

                    <div class="user-profile col-md-4 col-6">
                        <div class="d-flex align-items-center">
                            <div class="header-link-icons">
                                <i class="fi fi-person" aria-hidden="true"></i>
                            </div>
                            <div class="flex-grow-1 flex-column items-nav" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="text-left">
                                    Xin Chào
                                </div>
                                <div class="text-left">
                                    Trong Nguyen
                                </div>
                                <div class="dropdown-menu bg-light">
                                    <div class="p-2">
                                        <button
                                            class="btn btn-warning form-control btn-sm text-white font-weight-bold text-dark"
                                            type="submit">Quản Lí Tài Khoản</button>
                                    </div>
                                    <div class="p-2">
                                        <button
                                            class="btn btn-warning form-control btn-sm text-white font-weight-bold text-dark"
                                            type="submit">Đăng Xuất</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="noti-items col-md-4 col-6">
                        <div class="d-flex align-items-center">
                            <div class="header-link-icons">
                                <i class="fi fi-phone" aria-hidden="true"></i>
                            </div>
                            <div class="flex-grow-1 ">
                                <div>
                                    Hotline
                                </div>
                                <div>
                                    1900 1506
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" id="cart" class="col-md-4 text-white">
                        <div class="d-flex align-items-center">
                            <div class="header-link-icons">
                                <i class="fi fi-shopping-basket"></i>
                            </div>
                            <div class="flex-grow-1 flex-row">
                                <div>
                                    Giỏ hàng
                                </div>
                            </div>
                            <div class="">
                                <label id="cart-number" class="bg-warning mb-0">0</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>