<footer id="footer">
    <div class="bg-footer" style="background-image: url('http://www.coteccons.vn/images/bgfooter.png')">
        <div class="container">
            <div class="company">
                <div class="d-flex flex-wrap title-descript pt-3">
                    <div class="flex-grow-1">
                        <h3 class="text-uppercase">Đối tác chiến lược</h3>
                    </div>
                </div>
                <div class="d-flex flex-wrap py-3">
                    <ul class="nolist company-list">
                        <li>
                            <a href="#">
                                <img src="{{ img('logo1.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ img('logo2.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ img('logo3.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ img('logo4.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ img('logo5.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ img('logo6.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ img('logo7.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ img('logo8.png')}}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-main">
                <div class="d-flex flex-wrap">
                    <div class="col-md-8">
                        <div class="footer-title">
                            <h4>Thông tin công ty</h4>
                        </div>
                        <div class="footer-body">
                            <ul class="nolist">
                                <li>
                                    <span><u>Văn Phòng Đại Diện:</u></span>
                                    <span>No 20A – Pham Van Dinh Street – Thang Nhat Ward – Vung Tau City – Ba Ria Vung Tau Province.</span>
                                </li>
                                <li>
                                    <span><u>Trụ Sở Chính:</u></span>
                                    <span>No 2/14 - Bao Phuc Street – Dang Hai Ward - Ngo Quyen Dist - Hai Phong City</span>
                                </li>
                                <li>
                                    <span><u>Số điện thoại:</u></span>
                                    <span> +84 2253 722 126</span>
                                </li>
                                <li>
                                    <span><u>Hotline:</u></span>
                                    <span> +84 313 851 266</span>
                                </li>
                                <li>
                                    <span><u>Email:</u></span>
                                    <span>admin@388ic.com.vn</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-title">
                            <h4>Fanpage</h4>
                        </div>
                        <div class="footer-body">
                            <div class="fb-page"
                                data-href="https://www.facebook.com/C%C3%B4ng-ty-C%E1%BB%95-ph%E1%BA%A7n-%C4%90%E1%BA%A7u-t%C6%B0-v%C3%A0-X%C3%A2y-l%E1%BA%AFp-388-388IC-320814771937085/?ref=br_rs"
                                data-tabs="timeline" data-width="" data-height="200" data-small-header="false" data-adapt-container-width="true"
                                data-hide-cover="false" data-show-facepile="true">
                                <blockquote
                                    cite="https://www.facebook.com/C%C3%B4ng-ty-C%E1%BB%95-ph%E1%BA%A7n-%C4%90%E1%BA%A7u-t%C6%B0-v%C3%A0-X%C3%A2y-l%E1%BA%AFp-388-388IC-320814771937085/?ref=br_rs"
                                    class="fb-xfbml-parse-ignore"><a
                                        href="https://www.facebook.com/C%C3%B4ng-ty-C%E1%BB%95-ph%E1%BA%A7n-%C4%90%E1%BA%A7u-t%C6%B0-v%C3%A0-X%C3%A2y-l%E1%BA%AFp-388-388IC-320814771937085/?ref=br_rs">Công
                                        ty Cổ phần Đầu tư và Xây lắp 388 - 388IC</a></blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="text-white">Copyright &copy; 2019 388ic Group.</span>
                    <span class="text-dark">Design by <a href="#" class="text-dark">TyHon Company</a></span>
                </div>
            </div>
        </div>
        <div class="scroll-top">
            <a href="#" class="smooth-scroll">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
                Top
            </a>
        </div>

    </div>
</footer>