<section class="">
    <div class="container">
        <div class="d-flex flex-wrap">
            <div class="flex-grow-1">
                <div class="logo bg-white d-inline-block">
                    <a href="#" class="d-block py-1">
                        <img src="{{img('logo.jpg')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="header-right">
                <div class="topBar text-right p-2 d-none d-md-block">
                    <a href="#" class="text-dark">
                        <img class="flag" src="{{img('eng.jpg')}}" alt="">
                        ENG
                    </a>
                    <a href="#" class="text-dark">
                        <img class="flag" src="{{img('vietnam.jpg')}}" alt="">
                        VI
                    </a>
                </div>
                <form method="get" action="">
                    <div class="d-flex flex-direction-row justify-content-center">
                        <div class="searchbar">
                            <input class="search_input rounded px-2" type="text" name="" placeholder="Search..."
                                style="border: 1px solid #ddd">
                            <button class="search_icon btn-sm border-0 btn-info" type="submit"
                                style="line-height: 1.4;">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div id="toggle" class="d-block d-md-none text-right p-2">
                    <a href="#" data-menu class="text-dark">
                        <i class="fa fa-lg fa-bars"></i>
                        <span>Menu</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<header id="header">
    <div class="container">
        <div class="sticky">
            <div class="row align-items-center">
                <div class="col-md-12 h-100">
                    <nav id="navbar" class="nav-header">
                        <ul class="nolist d-flex flex-wrap">
                            <li><a href="#">Trang chủ</a></li>
                            <li>
                                <a href="#">Giới thiệu
                                </a>
                            </li>
                            <li>
                                <a class="" href="#">Tin Tức
                                </a>
                            </li>
                            <li>
                                <a href="#">Dự Án
                                </a>
                            </li>
                            <li>
                                <a class="" href="#">Tuyển Dụng
                                </a>
                            </li>
                            <li><a href="">Liên Hệ</a></li>
                            <li class="d-block d-md-none ">
                                <div class="topBar pb-2 d-flex">
                                    <a href="#" class="text-dark">
                                        <img class="flag" src="{{img('eng.jpg')}}" alt="">
                                        ENG
                                    </a>
                                    <a href="#" class="text-dark">
                                        <img class="flag" src="{{img('vietnam.jpg')}}" alt="">
                                        VI
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</header>
<style>
    .dropdown-menu a {
        padding: 8px 15px;
        display: block;
    }

    .sub-menu {
        position: absolute;
        visibility: hidden;
        will-change: transform;
        top: 100%;
        transform-origin: top;
        transform: scale(1, 0);
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    .sub-menu-parent:hover>.sub-menu {
        transform: scale(1, 1);
        visibility: visible;
        transition-delay: 0s, 0s, 0.3s;
        z-index: 2;
    }

    .sub-menu-parent .sub-menu-parent__link::after {
        content: '\f0dd';
        font-family: FontAwesome;
        color: #fff;
    }
</style>