.manager-order-style {
    position: relative;
    &__noti {
        position: absolute;
        top: 4px;
        right: 0;
        background-color: #e5101d;
        padding: 2px 8px;
        color: #fff;
        border-radius: 10px;
    }
}
.login-toggle {
    cursor: pointer;
}
.form-box-filter {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 210px;
    overflow: auto;
    .career-check {
        display: none;
    }
    label {
        &::before {
            content: '';
            font-family: Fontawesome;
            display: inline-block;
            width: 25px;
            height: 25px;
            border: 1px solid #696666;
            margin-right: 10px;
            border-radius: 30%;
            vertical-align: middle;
            transform: translateY(-5%);
        }
    }
    .career-check:checked + label::before {
        content: '\f00c';
        font-family: Fontawesome;
        z-index: 99;
        padding: 0px 5px;
        color: #46da1a;
    }
}
.bootstrap-tagsinput {
    width: 100%;
    padding: 8px 4px;
}
.bootstrap-tagsinput .tag {
    display: inline-block;
    color: #fff;
    background-color: blue;
    padding: 6px 4px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.result {
    font-size: 12pt;
}
.body-style {
    min-height: 160px;
    @include max-lg {
        min-height: 150px;
    }
}
.price {
    color: #e5101d;
    font-size: 13pt;
}