.title-post {
    font-size: 1.5rem;
    font-weight: bold;
    
}
.post-title-small {
    h2{
        font-size: 1rem;
        font-weight: bold;
    }
}
.newpost-article {
    img {
        justify-content: center;
    }
}