:root{
    // Global
    --bgColor: #fff;
    --fontFamily: 'Raleway', sans-serif;
    --fontSize: 12pt;
    --textColor: #111;
    --linkColor: #333;
    --linkHover: #4a90e2;

    // Header
    --header_BgColor: #fdfdfd;
    --header_TextColor: #111;
}
