@import './mixin';
@import './global';
@import './carditems';
@import './breadcrumb';
@import './contact';
@import './manager';
@import './oder';
@import './payment';
@import './root';
@import './about';
@import './detailproduct';
@import './cart';
@import './news';
@import './newpost';
@import './product';
@import './cardnews';
// SECTION Global
// #region Global
body{
    h1 {
        font-size: 2.25rem;
        @include max-lg {
            font-size: 2.15rem;
        }
        @include max-sm {
            font-size: 1.5rem;
        }
    }
}
#app{
    min-height: 100vh;
    overflow: hidden;
}
// #endregion

// #region Header
#header{
    background-color: #e5101d;
}
.banner-top {
    display: block;
}
#logo {
    background-color: #fff;
    border-radius: 8px;
    img {
        height: 70px;
        width: 100%;
    }
}
.tikicon.icon-tiki_short {
    background-image: url('https://salt.tikicdn.com/desktop/img/sprite.png?v=1519811185467');
    background-position: -137px -265px;
    width: 50px;
    height: 33px;
}
.form-search {
    input {
        padding: 20px 8px;
    }
}
.form-email {
    input {
        padding: 16px 8px;
    }
}
.header-link {
    font-size: 11pt;
    &-icons {
        font-size: 20pt;
        margin-right: 6px;
    }
}
#cart {
    right: 0;
    #cart-number {
        padding: 2px 4px;
        color: #000;
        border-radius: 4px;
        font-weight: 600;
    }
}
.cart-items{
    border: 1px dashed #fff;
    padding: 2px;
    border-radius: 6px;
    &:hover {
        background-color: rgba(#fff, .2);
    }
}
.dropdown-menu {
    min-width: 250px;
    color: #000;
}
.main-navbar-toggle {
    display: block;
    padding: 8px 6px;
}
.topBar-user {
    background-color: #B71C1C;
}
.sub-menu {
    background-color: #B71C1C;
    ul {
        display: flex;
        flex-direction: row;
        li a {
            display: block;
            color: #fff;
            padding: 8px 12px;
            &:hover {
                background-color: #034e7c;
            }
        }
        .icons-menu{
            font-size: 20pt;
            padding: 8px 16px;
            color: #fff;
        }
    }
    .close-menu {
        position: absolute;
        font-size: 20pt;
        right: 5px;
        top: 16px;
    }
}
.noti-items , .user-profile {
    padding: 5px 10px;
    &:hover {
        background-color: rgba(#fff, .2);
    }
    
}
// #endregion

// #region Menu-Aside
#navbar{
    background-color: #C62828;
    display: block;
    @include max-md{
        position: fixed;
        visibility: hidden;
        z-index: -999;
        left: -100%;
        display: block;
        background-color: #3440f0;
        transition: .4s ease-out all;
        top: 0;
        width: 50vw;
        height: 100vh;
    }
    @include max-sm{
        width: 100vw!important;
    }
    &.active {
        visibility: visible;
        left: 0;
        z-index: 9999;
    }
    @include max-md{
        > .row{
            margin: 0;
        }
    }
}
.sub-style {
    @include max-sm {
        border-bottom: 1px solid #fff;
    }
}
#cate_menu{
    #dropdown{
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 0;
        overflow: auto;
        transition: .4s .1s ease-in-out height;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(#333, .3);
        ul{
            max-height: 100%;
        }
        a{
            display: block;
            padding: 5px 15px;
            border-bottom: 1px dashed #eee;
            @include text-color(#333, #0088dd);
        }
    }
    &:hover, &.index{
        #dropdown{
            height: 300px;
            @include max-lg {
                height: 250px;
            }
            @include max-sm {
                height: 100vh;
            }
        }
    }
}
.categlory-menu {
    li {
        &:hover {
            
        }
    }
}
// #endregion


// #region Slider
#slider .swiper-container{
    height: 300px;
    @include max-lg {
        height: 250px;
    }
    @include max-md {
        height: 150px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
// #endregion

.product-list {
    border-radius: 8px;
    border: 1px dashed #ddd;
    padding: 0 15px;
    &--item{
        padding: 0;
        &:not(:last-child){
            border-right: 1px dashed #ddd;
        }
        @include max-sm {
            border-bottom: 1px dashed rgba(#000, .2);
        }
    }
}
.sale-list {
    background-image: linear-gradient(180deg,#ff00bf,#ff1100 115%);
}
.sale-products {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    &-left {
        height: 100px;
        flex: 0 0 35%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-right {
        flex: 0 0 65%;
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.sale-title {
    color: #4e4d4d;
    text-transform: capitalize;
}
.sale-oldprice {
    color: #adaaaa;
    font-size: 11pt;
}
.percen {
    font-size: 10pt;
}
.sale-price {
    font-size: 13pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.swiper-next {
    position: absolute;
    top: 55%;
    width: 30px;
    height: 30px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(rgb(163, 159, 159), .4);
    right: 10px;
    left: auto;
    &::after {
        content: '\f105';
        font-family: FontAwesome;
        position: absolute;
        font-size: 20pt;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    &:hover {
        background-color: rgba(rgb(163, 159, 159), .9);
    }
}
.swiper-prev {
    position: absolute;
    top: 55%;
    width: 30px;
    height: 30px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(rgb(163, 159, 159), .4);
    left: 10px!important;
    left: auto;
    &::after {
        content: '\f104';
        font-family: FontAwesome;
        position: absolute;
        font-size: 20pt;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    &:hover {
        background-color: rgba(rgb(163, 159, 159), .9);
    }
}
.pair-banner {
    box-shadow: 5px 5px 5px rgba(#666, .2);
}
// #region Gift-card
.gift-card{
    display: flex;
    align-items: center;
    border-radius: 17px;
    overflow: hidden;
    position: relative;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(#666, .2);
    &:hover{
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &::after {
            content: '\f105';
            font-family: FontAwesome;
            position: absolute;
            right: 6px;
            font-size: 16pt;
            color: red;
        }
        span {
            color: #e5101d;
        }
    }
}
.card-channels-icon {
    width: 32px;
    height: 32px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }
}
.card-channels-text {
    span {
        color: #000;
        font-size: 14pt;
        margin-left: 4px;
        padding: 4px;
        
    }
}
// #endregion

// #region footer
#footer {
    #logo-footer {
        
        img {
            background-color: #fff;
            max-width: 200px;
            max-height: 80px;
        }
    }
}
// #region form
.box-login {
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(#ddd , .5)
}
.form-title {
    &::before {
        content: '* ';
        font-weight: bold;
    }
}
// #endregion

// #region menulocal
.menulocal {
    position: sticky;
    z-index: 999;
    margin: 0px 15px;
    ul {
        li a {
            @include max-sm {
                border-bottom: 1px solid #fff;
            }
        }
    }
}
// #endregion
.footer-main {
    background-color: #ecf6f9;
    li a {
        @include text-color(#333, #0088dd);
    }
    .footer-body {
        flex-grow: 1;
    }
}
// #endregion